.fp {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 20px;
}

.fpItem {

    margin: 0px 8px;

}

.fpImg {
    height: 240px;
    width: 100%;
    object-fit: cover;

}

.fpTitles h5 {
    margin: 5px;
    color: rgb(158, 156, 156);
    font-size: 15px;
}

.fpTitles h6 {
    margin: 0px 5px;
    color: rgb(158, 156, 156);
    font-size: 12px;
}

.fpTitles h3 {
    margin: 10px 0 3px 5px;
    color: rgb(46, 46, 46);
    font-size: 15px;
}

.reviews {
    display: inline-block;
    vertical-align: middle;
}

.numReview {
    background: #003580;
    border-radius: 5px 5px 5px 0;
    padding: 5px;
    margin-right: 10px;

    display: inline-block;
}

.numReview h1 {
    margin: 0;
    color: white;
    font-size: 14px;
    display: inline;

}

.reviewTitle {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;



}

.totalReview {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(171, 170, 170);
}